
@{
    ViewBag.Title = "上傳你的故事";
}

@section styles{
    <style>
        h2 {
            text-align: center;
            padding-bottom: 20px;
            font-family: 'Comic Sans MS';
            font-weight: 600;
        }

        .body-content {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        #upload, .dropZone {
            margin-top: 2em;
        }

        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            background-color: #729800;
            color: white;
        }

        .nav-pills li a {
            background-color: white;
            color: #729800;
        }

        .fadedd {
            display: none;
        }

        .dropZone {
            position: relative;
            display: inline-block;
            background-color: #f8f8f8;
            border: 1px solid #c7c7c7;
            height: 150px;
            text-align: center;
        }

        .textWrapper {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            font-size: 18px;
            line-height: 1.2em;
            font-family: Arial,Helvetica,sans-serif;
            color: #ccc;
        }
    </style>
}
@section scripts{
    <script>

        // online virus scan solution
        // https://developers.virustotal.com/v3.0/reference#overview

        // online media file transfer solution
        // yet

        // the last two is mac format
        var imageExtensions = ['.jpg', '.jpeg', '.tiff', '.tif', '.gif', '.bmp', '.png', '.webp', '.heif', 'heic'];
        var videoExtensions = ['.avchd', '.avi', '.flv', '.mkv', '.mov', '.mp4', '.webm', '.wmv'];
        var audioExtensions = ['.m4a', '.flac', '.mp3', '.wav', '.wma'];

        $(document).ready(function () {
            // kendo upload
            var upload = $("#files").kendoUpload({
                async: {
                    chunkSize: 1,   // bytes
                    saveUrl: "/Default/ChunkSave",
                    autoUpload: false
                },
                validation: {
                    allowedExtensions: imageExtensions
                },
                localization: {
                    select: "選擇檔案"
                },
                multiple: false,
                dropZone: ".dropZone"
            }).data('kendoUpload');

            // set upload file validations
            $('.nav-pills > li').click(function (e) {
                var active = document.querySelector('.active');
                if (active && active.id != e.target.parentElement.id) {
                    switch (e.target.parentElement.id) {
                        case 'imagePill':
                            upload.options.validation.allowedExtensions = imageExtensions;
                            break;
                        case 'videoPill':
                            upload.options.validation.allowedExtensions = videoExtensions;
                            break;
                        case 'audioPill':
                            upload.options.validation.allowedExtensions = audioExtensions;
                            break;
                        default:
                            break;
                    }

                    upload.clearFile(function () { return true; });
                }
            });

            $(".fadedd").fadeIn('fast');
        });
    </script>
}

<h2>Do you have a story ?</h2>
<div class="row fadedd">
    <div class="col-xs-offset-2 col-xs-8">
        <ul class="nav nav-pills nav-justified">
            <li id="imagePill" class="active"><a data-toggle="pill" href="#imageTab">IMAGE</a></li>
            <li id="videoPill"><a data-toggle="pill" href="#videoTab">VIDEO</a></li>
            <li id="audioPill"><a data-toggle="pill" href="#audioTab">AUDIO</a></li>
        </ul>
    </div>
</div>

<div class="form-group fadedd">
    <div class="row">
        <div class="dropZone col-xs-offset-2 col-xs-8">
            <div class="textWrapper">
                <p>將檔案拖曳至此</p>
            </div>
        </div>
    </div>
    <div id="upload" class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <input name="files" id="files" type="file" aria-label="files" />
        </div>
    </div>
</div>