
@{
    ViewBag.Title = "Index";
}

@section styles{
    <style>
        h2 {
            text-align: center;
            padding-bottom: 20px;
            font-family: 'Comic Sans MS';
            font-weight: 600;
        }

        .body-content {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        #submit, #upload {
            margin-top: 3em;
        }

            #submit > div > p {
                text-align: center;
            }

        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            background-color: #729800;
            color: white;
        }

        .nav-pills li a {
            background-color: white;
            color: #729800;
        }
    </style>
}
@section scripts{
    <script>
        $(document).ready(function () {
            // kendo upload 
            var upload = $("#file").kendoUpload({
                validation: {
                    allowedExtensions: ['.jpg']
                },
                localization: {
                    select: "選擇檔案"
                },
                multiple: false
            }).data('kendoUpload');

            // set upload file validations
            $('.nav-pills > li').click(function (e) {
                switch (e.target.parentElement.id) {
                    case 'pitcturePill':
                        upload.options.validation.allowedExtensions = ['.jpg'];
                        break;
                    case 'videoPill':
                        upload.options.validation.allowedExtensions = ['.mp4'];
                        break;
                    case 'audioPill':
                        upload.options.validation.allowedExtensions = ['.mp3'];
                        break;
                    default:
                        break;
                }
            });
        });
    </script>
}

<h2>Do you have a story ?</h2>
<div class="row">
    <div class="col-xs-offset-2 col-xs-8">
        <ul class="nav nav-pills nav-justified">
            <li id="pitcturePill" class="active"><a data-toggle="pill" href="#pictureTab">PICTURE</a></li>
            <li id="videoPill"><a data-toggle="pill" href="#videoTab">VIDEO</a></li>
            <li id="audioPill"><a data-toggle="pill" href="#audioTab">AUDIO</a></li>
        </ul>
    </div>
</div>
<div>
    <div class="col-xs-offset-2 col-xs-8 form-group">
        <form method="post" action="Index">
            <div id="upload" class="row">
                <div class="col-xs-offset-2 col-xs-8">
                    <input name="file" id="file" type="file" aria-label="files" />
                </div>
            </div>
            <div id="submit" class="row">
                <div class="col-xs-12">
                    <p>
                        <button type="submit" class="k-button">送出 </button>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
